@import "../scss/base";

body {
  width: 400px;
  @media (prefers-color-scheme: dark) {
    background: $dark-gray3;
  }
}

#popup {
  &.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-height: 600px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: $light-gray4;
    border-bottom: 1px solid $light-gray2;
    @media (prefers-color-scheme: dark) {
      background-color: $dark-gray4;
      border-bottom: 1px solid $dark-gray3;
    }
  }
  
  .menu {
    overflow-y: scroll;
    border-radius: 0;
    padding: 0;
    margin-bottom: 5px;
    li {
      border-radius: 0;
    }
  }
  
  .menu-divider {
    position: sticky;
    top: 0;
    background: black;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    background-color: $light-gray4;
    border-bottom: 1px solid $light-gray2;
    @media (prefers-color-scheme: dark) {
      background-color: $dark-gray4;
      border-bottom: 1px solid $dark-gray3;
    }
  }
}
