@import '../scss/base';

#options-ui {
  &.wrapper {
    display: flex;
    overflow: hidden;
    width: 100wh;
    height: 100vh;
  }
  .editor {
    flex: 1;
  }
  aside {
    flex: 1;
    padding: 0 var(--global-space);
    overflow-y: scroll;
  }
}

.cm-focused {
  outline: none !important
}