::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $light-gray3;
  @media (prefers-color-scheme: dark) {
    background: $dark-gray5;
  }
}

::-webkit-scrollbar-thumb {
  background: $gray3;
  @media (prefers-color-scheme: dark) {
    background: $dark-gray1;
  }
}

::-webkit-scrollbar-thumb:hover {
  background: $gray1;
  @media (prefers-color-scheme: dark) {
    background: $black;
  }
}
