::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $gray5;
}

::-webkit-scrollbar-thumb {
  background: $gray3;
}

.bp4-dark {
  ::-webkit-scrollbar-track {
    background: $dark-gray2;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $dark-gray5;
  }
}
