name: Build and test

on:
  pull_request:
  push:
    branches:
    - 'master'

jobs: 
  test_build:
    name: Unit test and build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - run: npm ci
      - run: npm test
      - run: npm run lint
      - run: npm run bundle